* {
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --white: white;
  --black: black;
  --blue-green: #099d8d;
  --margin-right: auto;
  --margin-left: auto;
  --mayus: uppercase;
}

h1 {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  padding-bottom: 15px;
}
.header {
  background-color: var(--blue-green);
  position: fixed;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 2;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 20px;
  background-color: #14d9c4;
}
.menu {
  border-top: var(--white);
  height: 30px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
.item {
  display: inline-block;
  margin: 0px;
}
ul li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  padding: 8px;
}
ul li a:hover {
  background-color: #099d8e7a;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ImageHero {
  width: 100%;
  margin-bottom: -40px;
}

.textimage {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
}
.text1 {
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.equipo {
  align-items: center;
  margin-bottom: 30px;
  margin-top: 46px;
}

.team-section {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #14d9c4;
  text-transform: uppercase;
}

.fortalezasDebilidades {
  background-color: #b8b8b9;
}

.item {
  justify-content: space-arround;
}

.parrafoIra {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  line-height: 1.5;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.titulares {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #099d8d;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 15px;
}

.who {
  padding-top: 30px;
  margin: 0 15px;
  overflow-y: auto;
}

.image-container {
  max-width: 180px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
  margin-bottom: 15px;
}
.image {
  width: 100%;
}

#who-we-are {
  height: 45px;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  margin-right: var(--margin-right);
  margin-left: var(--margin-left);
  text-transform: var(--mayus);
}

h4 {
  height: 45px;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: normal;
  line-height: 2.25;
  margin-right: var(--margin-right);
  margin-left: var(--margin-left);
  color: var(--black);
}

p {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 500;
  color: #54585a;
  line-height: 1.5;
  margin-bottom: 15px;
  padding: 10px;
}

.rrss {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  width: 124px;
  justify-content: space-between;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.icon {
  width: 18px;
}

.point {
  color: #54585a;
  font-size: 18px;
  height: 30px;
  padding-top: 0px;
}

containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.copy {
  color: #b8b8b9;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 30px;
}

.menuFooter {
  width: 100%;
  padding: 1px;
}

.footerlist itemFooter {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #1c1c53;
  text-transform: uppercase;
  font-weight: bolder;
}

.img_footer {
  position: relative;
}

.img_footer img {
  width: 30%;
  margin: 30px;
  text-decoration: none;
  justify-content: center;
}
