* {
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --white: white;
  --black: black;
  --blue-green: #099d8d;
  --margin-right: auto;
  --margin-left: auto;
  --mayus: uppercase;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  z-index: 2;
  text-align: center;
}
.tittle {
  color: var(--white);
  text-transform: uppercase;
  padding-bottom: 23px;
  padding-top: 22px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--blue-green);
}
.menuHeader {
  /* background-color: #14D9C4; */
  width: 100%;
}
.menu {
  text-transform: uppercase;
  background-color: #14d9c4;
  display: flex;
  justify-content: space-evenly;
}
.item {
  display: flex;
}
.menu .item .linkHeader {
  display: flex;
  text-decoration: none;
  color: var(--white);
  font-family: Rubik, sans-serif;
  font-size: 15px;
  padding: 15px 10px;
  height: 45px;
  width: 100%;
}
.menu .item .linkHeader:hover {
  background-color: #099d8e7a;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ImageHero {
  width: 100%;
  height: 316px;
  position: relative;
  margin-top: 90px;
  margin-bottom: -40px;
}
.textimage {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  font-family: "Open sans";
}

.text1 {
  padding: 15px;
  font-family: "Open sans";
  font-weight: bold;
}

.equipo {
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.team-section {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #14d9c4;
  text-transform: uppercase;
  padding: 20px;
}

.fortalezasDebilidades {
  background-color: rgba(184, 184, 185, 0.2);
}

.contenedor {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
}

.rectangle {
  background-color: white;
  width: 30px;
  height: 30px;
  transform: translate(-10px, 666px) rotate(45deg);
}

.item {
  justify-content: space-arround;
}

.parrafoIra {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  line-height: 1.5;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.titulares {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #099d8d;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 15px;
}

.who {
  padding-top: 30px;
  margin: 0 15px;
  overflow-y: auto;
}

.image-container {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
  margin-bottom: 15px;
}

.image-who {
  width: 100%;
}

#who-we-are {
  height: 45px;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  margin-right: var(--margin-right);
  margin-left: var(--margin-left);
  text-transform: var(--mayus);
}

.nombres {
  height: 45px;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: normal;
  line-height: 2.25;
  margin-right: var(--margin-right);
  margin-left: var(--margin-left);
  color: var(--black);
}

.parrafo-who {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 500;
  color: #54585a;
  line-height: 1.5;
  margin-bottom: 15px;
  padding: 10px;
}

.rrss {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  width: 124px;
  justify-content: space-between;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.fab {
  width: 15px;
  color: #099d8d;
}
.fas {
  width: 15px;
  color: #099d8d;
}
.point {
  color: #54585a;
  font-size: 18px;
  height: 30px;
  padding-top: 0px;
}

containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.copy {
  color: #b8b8b9;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 20px;
}

.menuFooter {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuFooter .itemFooter a {
  width: 100%;
  padding: 1px;
  text-decoration: none;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #54585a;
}

.img_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_footer img {
  width: 115.9px;
  margin: 30px;
  text-decoration: none;
}
