<footer class="containerFooter">
  <section class="copy">DIV-AS &copy2021</section>
  <nav class="menuFooter">
    <ul class="footerlist">
      <li class="itemFooter"> <a href="./index.html#team-section">Equipo</a> </li>
      <li class="itemFooter"> <a href="./index.html#who-we-are">Quiénes Somos</a></li>
      <li class="itemFooter"><a href="./contact.html">Contacto</a></li>
    </ul>
  </nav>
  </section>
  <section class="img_footer">
    <img src="./assets/images/Adalab.png" alt="imagen adalab">
  </section>

</footer>