
<header class="header">
  <h1 class="tittle"><a href="./index.html" class="linkDivas" >DIV-AS</a></h1>
  <nav class="menuHeader">
    <ul class="menu">
      <li class="item">
        <a href="./index.html#equipo" class="linkHeader">Equipo</a>
      </li>
      <li class="item">
        <a href="./index.html#who-we-are" class="linkHeader">Quienes somos</a>
      </li>
      <li class="item">
        <a href="./contact.html" class="linkHeader">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
