.contacto {
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;

  /* TABLET MEDIAQUERIES */
  @media screen and (min-width: 768px) {
    .contacto {
      margin-top: 35px;
    }
  }
}

.contacto-section {
  font-family: $rubik;
  font-size: 24px;
  color: $color-bluegreen;
  text-transform: uppercase;
  text-align: center;
}

.parrafocontacto {
  font-size: 16px;
  font-family: $opensans-font;
  color: $color-gunmetal;
  margin: 15px 0;
  padding: 20px;
  text-align: center;
  width: 80vw;
  margin: auto;
}

.parrafo-small {
  width: 100%;
  margin: 15px 0 58px;
  font-family: $opensans-font;
  font-size: 12px;
  line-height: 1.5;
  color: $color-gunmetal;
  text-align: center;
}

.form-asterisk {
  color: $color-aqua;
}

/*FORMULARIO*/
input,
textarea {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  color: $cool-grey;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $opensans-font;
}

.form {
  font-size: 14px;
  font-family: $opensans-font;
  color: $color-gunmetal;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datos-personales,
.mensaje-container {
  border: transparent;
  width: 290px;
}

.nombrecompleto,
.email,
.telefono {
  font-size: 14px;
  width: 290px;
  height: 2.813rem;
  padding-left: 15px;
  color: $cool-grey;
  margin: 7px 0 13px 0;
}

.mensaje {
  width: 290px;
  height: 105px;
  padding: 15px 0 0 15px;
  margin: 7px 0 13px 0;
}

.enviar {
  width: 290px;
  height: 45px;
  color: $font-menu;
  background-color: $color-bluegreen;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 60px 0;
  border-radius: 4px;
  border: transparent;
  transition: box-shadow ease 1s, border-radius ease 2s;
}

.enviar:hover {
  color: $color-aqua;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
  border-radius: 15px;
}

/*TABLET*/
@media all and (min-width: 768px) {
  .parrafocontacto,
  .parrafo-small {
    width: 442px;
    margin: 0 auto 0 auto;
  }
  .datos-personales,
  .mensaje-container {
    display: flex;
    flex-direction: column;
  }

  .nombrecompleto,
  .email,
  .telefono,
  .mensaje {
    width: 442px;
  }

  .enviar-container {
    text-align: end;
    width: 442px;
  }
  .enviar {
    width: 206pxx;
  }
}

/*DESKTOP*/
@media all and (min-width: 1200px) {
  .parrafocontacto {
    width: 601px;
    font-size: 16px;
    line-height: 24px;
  }

  .datos-personales,
  .mensaje-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .private-info {
    display: flex;
    flex-direction: row;
  }

  .parrafo-small,
  .nombrecompleto,
  .mensaje,
  .enviar-container {
    width: 601px;
  }

  .email {
    width: 395px;
    margin-right: 44px;
  }

  .telefono {
    width: 162px;
  }
}
