.fortalezasDebilidades {
  background-color: rgba(184, 184, 185, 0.2);
}

.rectangle {
  background-color: $font-menu;
  width: 30px;
  height: 30px;
  transform: translateY(50%) rotate(45deg);
  margin: auto;
}

.parrafo-equipo {
  font-family: $opensans-font;
  font-size: 16px;
  color: $color-gunmetal;
  line-height: 1.5;
  margin: 20px 15px;
}

.titulares {
  font-family: $rubik;
  font-size: 22px;
  color: $color-bluegreen;
  text-transform: capitalize;
  margin-top: 30px;
}

/* TABLET MEDIAQUERIES */
@media screen and (min-width: 768px) {
  .fortalezasDebilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 15px;
  }
}

/* DESKTOP MEDIAQUERIES */
@media screen and (min-width: 1200px) {
  fortalezasDebilidades1 {
    padding-left: 122px;
    padding-right: 22px;
    width: 50%;
  }

  fortalezasDebilidades2 {
    padding-right: 122px;
    padding-left: 22px;
    width: 50%;
  }
}
