// .ImageHero {
//   width: 100%;
//   height: 316px;
//   position: relative;
//   margin-top: 90px;
//   margin-bottom: -40px;
//   text-align: center;
// }

.hero-container {
  width: 100vw;
}
.image-hero {
  max-width: 100%;
  height: auto;
}

.text-rectangle {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  font-family: "Open sans";
}

.claim {
  padding: 15px;
  font-family: "Open sans";
  font-weight: bold;
}

/* TABLET MEDIAQUERIES */
/* HEADER */
@media screen and (min-width: 768px) {
  .Hero {
    height: 421px;
  }

  // .ImageHero {
  //   height: 100%;
  //   margin: 0px;
  // }

  .text-rectangle {
    height: 80px;
    width: 441px;
    margin-left: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-83px);
  }

  .claim {
    padding: 15px 30px 15px 30px;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
  }
}

/* DESKTOP MEDIAQUERIES */
/* HEADER */

@media screen and (min-width: 1200px) {
  .Hero {
    height: 550px;
  }

  // .textimage {
  //   height: 90px;
  //   width: 574px;
  //   margin-left: 138px;
  //   transform: translateY(-94px);
  // }

  .claim {
    font-size: 24px;
    line-height: 30px;
  }
}
