.hero-container {
  width: 100vw;
}
.image-hero {
  max-width: 100%;
  // height: auto;
}

.text-rectangle {
  background-color: $font-menu;
  position: relative;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  font-family: $opensans-font;
}

.claim {
  padding: 15px;
  font-family: $opensans-font;
  font-weight: bold;
}

/* TABLET MEDIAQUERIES */
/* HEADER */
@media screen and (min-width: 768px) {
  <<<<<<< HEAD .Hero {
    height: 421px;
  }
  =======
  // .Hero {
  //   height: 421px;
  // }
>>>>>>> 1377f552bd6429dbb374dd55cb363d792d5dcbdd

  .text-rectangle {
    height: 80px;
    width: 441px;
    margin-left: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-83px);
  }

  .claim {
    padding: 15px 30px 15px 30px;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
  }
}

/* DESKTOP MEDIAQUERIES */
/* HEADER */

@media screen and (min-width: 1200px) {
  // .Hero {
  //   height: 550px;
  // }

  .claim {
    font-size: 24px;
    line-height: 30px;
  }
}
