.herocontact-section {
  height: 300px;
  background-image: url(../images/contact-herom.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TABLET MEDIAQUERIES */
@media all and (min-width: 768px) {
  .herocontact-section {
    background-image: url(../images/contact-hero.jpg);
    height: 421px;
    background-size: cover;
    background-position: center bottom;
  }
}

/* DESKTOP MEDIAQUERIES */
@media screen and (min-width: 1200px) {
  .herocontact-section {
    background-image: url(../images/contact-hero-super.jpg);
    height: 480px;
  }
}
